<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="css/style2.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" type="text/css" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css"  href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/main.css">

    <link href="https://fonts.google.com/share?selection.family=Poppins:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.google.com/share?selection.family=Poppins:500&display=swap" rel="stylesheet">
    <title>Cybersport</title>

<body>
<!--Nav-bar-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index"><img src="media/logo.svg" width="100" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="index">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Tournament</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="category">Sport</a></li>
                                <li class="nav-item"><a class="nav-link" href="cyber">CyberSport</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog">Nurdaulet</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-blog">Azhar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" >Contact</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="registration" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>
<!-- <table class="table">
    <thead>

    <tr>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Data</th>
        <th scope="col">Content</th>
        <th scope="col">CreatedAt</th>
        <th>
            <button class="btm btn-primary">
                <a href="/" style="color: white">Add Tournament </a>
            </button></th>

    </tr>
    </thead>
    <tbody>
    <%notesList.forEach(note => {%>
        <tr>
            <th scope="row"><%= note.title %></th>
            <td><%= note.type %></td>
            <td><%= note.data %></td>
            <td><%= note.content %></td>
            <td><%= note.createdAt.toLocaleDateString() %></td>
        </tr>
    <%})%>
    </tbody>
</table> -->

<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            Some text. some text some text some text some text some text some text some text some text
                            some text some text some text
                        </p>
                        <p>
                            Some text. some text some text some text some text some text some text
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Tournaments</a></li>
                            <li><a href="#">Sponsors</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="media/gallery/r1.jpg" alt=""></li>
                            <li><img src="media/gallery/r2.jpg" alt=""></li>
                            <li><img src="media/gallery/r3.jpg" alt=""></li>
                            <li><img src="media/gallery/r5.jpg" alt=""></li>
                            <li><img src="media/gallery/r7.jpg" alt=""></li>
                            <li><img src="media/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>Expo, AstanaIT, Nur-Sultan</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                +7-775-541-10-43 <br>
                                +7-707-723-05-04
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                nukan04@mail.ru <br>
                                turashbayeva2004@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    function scrollWin() {
        window.scrollBy(0, 1010);
    }

</script>

</body>